*.pt
*.pth
*.h5
data/ramona_deininger
**/__pycache__/**
**/.ipynb_checkpoints/**
.idea/
.vscode/
pytest.xml
ondewo-t2s-glow/
ondewo-t2s-hifigan/
ondewo-logging/
plots/
**/model.savedmodel/**
samples/
models/
evaluation/configs/
data/
