scipy
braceexpand
cython
editdistance
flask
msgpack==1.0.0
ruamel.yaml
tritonclient[all]==2.3.0
torch
webdataset
soundfile
git+https://github.com/wilsonchingg/logmmse.git
pyroomacoustics
omegaconf
python_speech_features
pysndfx