braceexpand
cython
dataclasses-json
editdistance
flask
git+https://github.com/wilsonchingg/logmmse.git
google-api-core==1.13.0
googleapis-common-protos==1.5.10
grpcio==1.31.0
grpcio-reflection==1.31.0
grpcio-tools==1.31.0
msgpack==1.0.0
mypy-protobuf
omegaconf
protobuf==3.13.0
pyroomacoustics
pysndfx
python_speech_features
ruamel.yaml
scipy
soundfile
torch
tritonclient[all]==2.3.0
webdataset
dataclasses-json

