flask>=2.1.1
fluent-logger>=0.10.0
msgpack>=1.0.3
ruamel.yaml>=0.17.21
requests>=2.27.1
google-api-core>=2.7.2
googleapis-common-protos>=1.56.0
grpcio>=1.44.0
grpcio-reflection>=1.44.0
grpcio-tools>=1.44.0
mypy-protobuf>=3.2.0
ondewo-logging>=3.1.0