cachetools
dataclasses-json
fluent-logger
git+https://github.com/wilsonchingg/logmmse.git
google-api-core==1.13.0
googleapis-common-protos==1.5.10
grpcio-reflection==1.42.0
grpcio-tools==1.42.0
grpcio==1.42.0
msgpack>=1.0.0
mypy-protobuf
nemo-toolkit[all]==1.5.1
numpy==1.20.3
ondewo-logging>=2.0.1
pydub==0.24.1
pynini==2.1.4
pyroomacoustics
pysndfx
python_speech_features
ruamel.yaml
transformers==4.13.0
tritonclient[all]==2.17.0