cachetools
fluent-logger
dataclasses-json
google-api-core==1.13.0
googleapis-common-protos==1.5.10
grpcio==1.42.0
grpcio-reflection==1.42.0
grpcio-tools==1.42.0
msgpack>=1.0.0
mypy-protobuf
num2words
numpy==1.20.3
ondewo-logging>=2.0.1
ruamel.yaml
tritonclient[all]==2.16.0
git+https://github.com/wilsonchingg/logmmse.git
pyroomacoustics
python_speech_features
pysndfx
transformers==4.12.5
pydub==0.24.1
