fluent-logger>=0.10.0
git+https://github.com/wilsonchingg/logmmse.git
msgpack>=1.0.3
numpy>=1.22.3
omegaconf>=2.1.2
ondewo-logging>=3.1.0
pydub>=0.25.1
pyroomacoustics>=0.6.0
pysndfx>=0.3.6
pytest>=7.1.2
pytest-mock>=3.7.0
python_speech_features>=0.6
ruamel.yaml>=0.17.21
tritonclient[all]>=2.20.0